body{
	margin:0;
	padding:0;
}

.opis {
	text-align: left;
	color: black;
	font-family: Arial;
}

.ankieta{
	text-align: left;
}
.naglowek{
	text-align:center;
	line-height:10vh;
	width:100vw;
	font-size:30px;
	font-weight:bold;
	height:10vh;
	background-color:silver;
	font-family: Arial;
}
.menulewe{
	margin:0;
	padding:0;
	width:20%;
	height:80vh;
	float:left;
	background:green;
	}
	
.trescprawa{
	margin:0;
	padding:0;
	width:80%;
	height:80vh;
	float:left;
	background-color: yellow;
	text-align:center;
	}
	
.stopka{
	width:100vw;
	height:10vh;
	background-color:grey;
	float:left;
	text-align: center;
	}

	a{
		text-decoration:none;
		color: gray;
	}
	a:hover{
		color:black;
	}